html, body{
  height: 100%;
}

iframe{
  min-height: 400px;
}

[scroll] {
  position:fixed;
  top:0;
  z-index: 21;
  box-shadow: 0px 0px 4px grey;
  opacity: 0.8;
}

.logo_image{
  max-height: 40px;
  width: auto;
}

.logo1{
  font-family: 'Dosis', sans-serif;
  /*    font-weight: 400;*/
  /*    font-style: normal;*/
  font-size: 36px;
  color: #505050;
}

.logo2{
  font-family: 'Ubuntu', sans-serif;
  /*    font-weight: 400;*/
  /*    font-style: normal;*/
  font-size: 24pt;
  color: #404040;

}

.username{
  font-family: 'Dosis', sans-serif;
  vertical-align: middle;
  font-size: 20pt;

}
.circle-pic{
  vertical-align:middle;
  width:32px;
  height:32px;
  border-radius: 50%;
  margin: 10px;
}

.rest{
  position: relative; top: 62px;
}

.home-background{
  background-image: url('/images/pattern.png');
  background-repeat: repeat;
  /*Set Temprary height of image */
  min-height: 900px;
}

.invalid{
  color: #db4437;
  font-weight: 400;
  font-stretch: normal;
  font-size: 16px;
  line-height: 135%;
}

.formsCard{
  max-width: 208px;
  max-height: 224px;
  min-height: 224px;
  min-width: 208px;
}

.thumbnail{
  max-width: 208px;
  max-height: 156px;
  min-height: 156px;
  min-width: 208px;
}

.left{
  position: fixed;
  top: 100px;
  z-index: 21;
  width: 20%;
  box-shadow: 0px 0px 4px grey;
  height: 60%;

}
