<div  flex="100" layout="row" layout-wrap  layout-align="center start">

  <div flex="60" layout="row">
    <md-card-content flex class="[ng-Form: newForm;]" layout="row" layout-align="center center">

      <md-input-container flex>
        <label>Add Form</label>
        <input flex name = "newUrl" ng-model="vm.newUrl"  ng-pattern="vm.googleformlink" >
        <div class="invalid" ng-show="!newForm.newUrl.$valid">The link doesn't appear to be of a Google Form</div>
      </md-input-container>

      <md-button class="md-fab" aria-label="Eat cake" ng-click="vm.addForm()" ng-disabled="!(newForm.newUrl.$valid && vm.newUrl != '')">
        <md-icon>add</md-icon>
      </md-button>

    </md-card-content>
  </div>



  <div flex="80" layout="row" layout-wrap >
    <div  ng-repeat="form in vm.forms" class="md-padding" layout-align="center">            
      <md-card class="formsCard" ng-click="vm.goto(form.$id)">
        <img firebase-src="{{form.image}}" class="md-card-image thumbnail" alt="Washed Out">
        <md-card-actions layout="row" layout-align="end center">
          {{form.name}}
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon>add</md-icon>
          </md-button>
        </md-card-actions><span flex></span>
      </md-card>
    </div>

  </div>


</div>
