  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Sample FirebaseUI App</title>
      <!-- AngularJS -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"
></script>


      <!-- Firebase -->
      <script src="//www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>

      <!-- AngularFire -->
      <script src="//cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

        <!--  AngularMaterial  -->
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
       <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


      <!--      Material Icons-->
      <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">





      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Dosis:600,700|Ubuntu:500,700" rel="stylesheet">

      <!--      My CSS-->
      <link href="css/main.css" rel="stylesheet">


      <!--    My Javascripts  -->
      <script src="js/app.js"></script>
      <script src="js/app.routes.js"></script>
      <script src="js/app.globalService.js"></script>

      <script src="js/login/login.module.js"></script>
      <script src="js/login/loginController.js"></script>
      <script src="js/login/loginService.js"></script>

      <script src="js/forms/forms.module.js"></script>
      <script src="js/forms/controllers/formsController.js"></script>
      <script src="js/forms/services/formsService.js"></script>

      <script src="js/form/form.module.js"></script>
      <script src="js/form/formController.js"></script>
      <script src="js/form/formService.js"></script>




    </head>
    <body ng-app="aweform">

          <md-toolbar ng-controller="loginCtrl" scroll style="background-color: white;">
            <div class="md-toolbar-tools">

              <a href="#!/">
                  <span class="logo2">&alpha;weforms</span>
                <!-- <img src="images/logo.png" style="max-width:100%; max-height:100%;"> -->
              </a>
                <span flex></span>

                  <div class="md-raised" ng-show="firebaseUser" layout="row center" layout-align="end center">


                    <div>
                      <img ng-click="signOut()"  ng-src="{{firebaseUser.photoURL}}" class="md-avatar circle-pic"></a></div>
                      <span></span>
                      <div flex>Hello {{firebaseUser.displayName}}</div>

                  </div>

                  <div ng-hide="firebaseUser">
                      <md-button class="md-raised md-primary" ng-click="signIn()" aria-label="More">
                          Sign In
                      </md-button>
                  </div>

            </div>
          </md-toolbar>

          <div class="rest" ng-view></div>


    </body>
  </html>
